:root {
    --black: #4a4f5a;
    --white: #f0e6e6;
}

* {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: Noto Sans;
}

body {
    font-family: Noto Sans;
    color: var(--white);
}

/* styling the home section */
.home {
    display: flex;
    flex-direction: column;
    border-bottom: solid .3rem black;
    border-top: solid .3rem black;
    padding-bottom: 6rem;
    background-color: var(--black);
}

.nameHeader {
    text-align: center;
    padding: 2rem;
}

.nameHeader h1 {
    font-size: 4rem;
    padding: 5rem 1rem 1rem 1rem;
    font-weight: bolder;
}

/* styling primary links */
.primaryLinks {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.primaryLinks h3 {
    margin: 1rem 2rem 1rem 2rem;
    padding: 1rem;
    border: solid black 2px;
    border-radius: 5%;
    box-shadow: 5px 10px 8px black;
    transition: ease 400ms;
    background-color: var(--white);
}

.primaryLinks h3:hover {
    margin: 1rem 2rem 1rem 2rem;
    padding: 1rem;
    border: solid black 2px;
    border-radius: 5%;
    box-shadow: 5px 10px 8px gray;
    transition: ease 400ms;
}

.primaryLinks a {
    text-decoration: none;
    color: black;
}

/* styling secondary links */
.secondaryLinks {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.secondaryLinks h3 {
    margin: 1rem 2rem 1rem 2rem;
    padding: 1rem;
    border: solid black 2px;
    border-radius: 5%;
    box-shadow: 5px 10px 8px black;
    transition: ease 400ms;
    background-color: var(--white);
}

.secondaryLinks h3:hover {
    margin: 1rem 2rem 1rem 2rem;
    padding: 1rem;
    border: solid black 2px;
    border-radius: 5%;
    box-shadow: 5px 10px 8px grey;
    transition: ease 400ms;
}

.secondaryLinks a {
    text-decoration: none;
    color: black;
}

/* styling the projects section */
.projects {
    display: flex;
    flex-direction: column;
    background-color: var(--black);
}

.projectsHeader {
    text-align: center;
}

.projectsHeader h1 {
    font-size: 2.5rem;
    padding: 5rem 1rem 1rem 1rem;
    margin-bottom: 3rem;
}

.projectsContent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 5rem;
    line-height: 2rem;
}

.leftContent {
    margin: 0rem 3rem 3rem 3rem;
}

.leftContent img {
    max-width: 150px;
}

.rightContent {
    margin: 0rem 3rem 3rem 3rem;
}

ul {
    list-style-position: inside;
}

/* styling the about me section */
.aboutMe {
    display: flex;
    flex-direction: column;
}

.aboutMeHeader {
    text-align: center;
}

.aboutMeContent {
    text-align: center;
}

