* {
    margin: 0;
    padding: 0;
}


/* Profile Section */

.profile {
    display: flex;
    flex-direction: column;
}

.me-pic {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}