:root {
    --black: black;
    --white: white;
    --lightGrey: #f5f5f7;
    --midGrey: #fff; 
    --blue: #027fff; 
    --darkGrey: #161b22;
    --btnColor: #21262d;
    --darkModeBg: #0d1117;
    --darkModeBgDark: #0a0d12;
}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.btn-container {
    display: flex;
    font-family: Roboto;
    justify-content: center;
    padding: 2rem;
}

.toggle-alignment {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.light-btn {
    background-color: white;
    color: var(--btnColor);
    border: 2px solid var(--midGrey);
    border-radius: 50%;
    margin: .3rem;
}

.light-btn:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: ease 300ms;
}

.dark-btn {
    background-color: var(--darkModeBg);
    color: var(--lightGrey);
    border: 2px solid var(--darkModeBg);
    border-radius: 50%;
    margin: .3rem;
}

.dark-btn:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: ease 300ms;
}

/*  styling/formatting the navbar */
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--darkGrey);
    color: var(--lightGrey);
    font-family: Roboto;
    font-weight: 400;
    padding: 1.3rem;
    text-align: center;
}

.navbar a {
    text-decoration: none;
    color: var(--lightGrey);
}

.centered {
    margin-left: 1.9rem;
}

.navbar a:hover {
    text-decoration: none;
    color: var(--white);
    transition: ease 480ms;
}

/*  formats home section  */
.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.homePic {
    margin-top: 1.5rem;
}

/* .homePic img {
    max-width: 300px;
} */

/*  styles headers  */
.nameHeader { 
    text-align: center;
}

/* //////////////////// */

.nameWrapper {
    height: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.8rem;
  }
  
  .nameText {
    width: 11ch;
    animation: typing 2s steps(11), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 3rem;
  }

/* .jobWrapper {
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
  } */
  
  .jobText {
    width: 13ch;
    /* animation: typing 2s steps(13), blink .5s step-end infinite alternate; */
    white-space: nowrap;
    overflow: hidden;
    /* border-right: 3px solid; */
    font-family: monospace;
    font-size: 1.5rem;
    margin-top: .8rem;
  }
  
  @keyframes typing {
    from {
      width: 0;
    }
  }
  
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }

/* //////////////////// */

/* .nameHeader h1 {
    font-size: 3rem;
    padding: .7rem;
    margin-top: 1.5rem;
    font-family: Roboto;
    font-weight: 400;
} */

/* .nameHeader h2 {
    padding: .7rem;
    margin-bottom: 1.5rem;
    font-family: Roboto;
    font-weight: 400;
} */

/*  styling for primary links */
.primaryLinks {
    text-align: left;
}

.primaryLinks h3 {
    margin-bottom: 1rem;
}

.primaryLinks a {
    text-decoration: none;
    color: var(--blue);
    font-family: Roboto;
    font-weight: 300;
}

.primaryLinks a:hover {
    text-decoration: none;
    color: var(--blue);
    font-family: Roboto;
    font-weight: 300;
    text-decoration: underline;
    transition: ease 480ms;
}

/* styling for secondary links */
.secondaryLinks {
    text-align: left;
}

.secondaryLinks h3 {
    margin-bottom: 1rem;
}

.secondaryLinks a {
    text-decoration: none;
    color: var(--blue);
    font-family: Roboto;
    font-weight: 300;
}

.secondaryLinks a:hover {
    text-decoration: none;
    color: var(--blue);
    font-family: Roboto;
    font-weight: 300;
    text-decoration: underline;
    transition: ease 480ms;
}

/*  styling for the projects section */
.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--lightGrey);
    padding-top: 2rem;;
    padding-bottom: 4rem;
}

.projects h1 {
    font-size: 2.5rem;
    padding: .7rem;
    margin-bottom: 1.5rem;
    font-family: Roboto;
    font-weight: 300;
}

.projectsContent {
    justify-content: center;
    align-items: center;
    margin-bottom: 5.5rem;
}

.projectContainer {
    padding: 1rem;
    max-width: 50rem;
    min-width: 50rem;
}

.projectCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    padding-top: 2rem;
    border-radius: 5%;
}

.list {
    margin-bottom: 1.5rem;
}

/*  styling the left content section */
.leftContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.leftContent h3 {
    font-family: Roboto;
    font-weight: 300;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: .2rem;
}

.leftContent h4 {
    text-align: center;
    margin-top: 1rem;
}

.leftContent img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 99%;
    max-width: 500px;
    max-height: 500px;
    border: #424245 solid .1rem;
    border-radius: 5%;
}

.leftContent a {
    text-decoration: none;
    color: var(--blue);
    font-family: Roboto;
    font-weight: 300;
}

.leftContent a:hover {
    text-decoration: none;
    color: var(--blue);
    font-family: Roboto;
    font-weight: 300;
    text-decoration: underline;
    transition: ease 480ms;
}

#techsUsed {
    font-family: Roboto;
    font-weight: 300;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 1.5rem;
}

.leftContent ul li {
    list-style-position: inside;
    font-family: Roboto;
    font-weight: 100;
}

/*  styling the right content section */
.rightContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rightContent h4 {
    font-family: Roboto;
    font-weight: 300;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 1.5rem;
}

.rightContent p {
    font-family: Roboto;
    font-weight: 100;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 1.5rem;
}

.rightContent ul li {
    list-style-position: inside;
    font-family: Roboto;
    font-weight: 100;
}

/*  styling and formatting the about me section */
.aboutMe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
}

.aboutMeHeader h1 {
    font-size: 2.5rem;
    padding: .7rem;
    margin-bottom: 1.5rem;
    font-family: Roboto;
    font-weight: 300;
}

.aboutMeContent h3 {
    font-family: Roboto;
    font-weight: 300;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 1.5rem;
}

.aboutMeContent p {
    font-family: Roboto;
    font-weight: 100;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 1.5rem;
    max-width: 800px;
    line-height: 1.5rem;
}

/* styling and formatting the footer */
footer {
    text-align: center;
    padding: 1rem;
    font-family: Roboto;
    font-weight: 300;
}

footer a {
    text-decoration: none;
    color: var(--blue);
}

footer a:hover {
    text-decoration: underline;
    transition: ease 480ms;
}

/* ///////////////////////// */
/* Styling and Classes for Dark Mode Toggle */

.dark-mode-bg {
    background-color: var(--darkModeBg);
}

.dark-mode-bg-dark {
    background-color: var(--darkModeBgDark);
}

.dark-mode-text {
    color: var(--lightGrey);
}

.dark-mode-card {
    background-color: var(--btnColor);
}

/* ////////////////////////// */

@media only screen and (max-width: 850px) {
    .projectContainer {
        max-width: 40rem;
        min-width: 40rem;
    }

    .leftContent img {
        max-width: 300px;
        max-height: 300px;
    }
  }

@media only screen and (max-width: 690px) {
    .projectContainer {
        max-width: 30rem;
        min-width: 30rem;
    }

    .leftContent img {
        max-width: 200px;
        max-height: 200px;
    }
  }

@media only screen and (max-width: 515px) {
    .projectContainer {
        max-width: 25rem;
        min-width: 25rem;
    }

    .leftContent img {
        max-width: 150px;
        max-height: 150px;
    }
  }

@media only screen and (max-width: 400px) {
    .projectContainer {
        max-width: 20rem;
        min-width: 20rem;
    }

    .leftContent img {
        max-width: 150px;
        max-height: 150px;
    }

    .rightContent ul li {
        list-style-position: inside;
        font-family: Roboto;
        font-weight: 100;
        max-width: 15rem;
    }
  }
